{% extends "base.html" %}

{% block head_title %}Forgot Password | {{ block.super }}{% endblock %}

    {% block content %}
          <form class="form-signin" method="POST" action="">
            {% csrf_token %}
            <h2 class="form-signin-heading text-align-center">Forgot Password</h2>
            <hr />
            {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Reset Password</button>
          </form>
        {% if message %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning" style="margin-top: 10px;" role="alert">{{ message }}</div>
                </div>
            </div>
        {% endif %}
    {% endblock %}