<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="width:90%;margin:0 auto;">
        <div style="text-align: justify;text-justify: inter-word;border-radius: 6px;background-color: #eee;padding-right: 20px;padding-left: 20px;padding-top: 40px;padding-bottom: 40px;margin-top:40px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.42857143;margin-bottom: 15px;font-size: 21px;font-weight: 200;">
            <img src="http://i.imgsafe.org/943de01.png" />
            <p>Thank you for using Tool Sharing!</p>

            <p><strong>{{ borrower }}</strong> has requested to borrow your <strong>{{ tool }}</strong>.</p>

            <p>Please login into the application to either approve or reject this request.</p>

            <p>Sincerely,<br/>X-Mates Team</p>
        </div>
    </body>
</html>
